@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300&family=Whisper&display=swap');


@keyframes drop {
  0% {
      opacity: 0;
      transform: translateY(-80px);
  }
  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100%  {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes zoom-out {
  0% {
      opacity: 25%;
      transform: scale(1.25)
  }
  100%{
      opacity: 100%;
      transform: scale(1);
  }
}

* {
  scroll-behavior: smooth;
  font-family: 'Montserrat';
  z-index: 0;
}

:root {
  --mainBlue: #015088;
  --mainWhite: whitesmoke;
  --artWidth: 800px;
  --artHeight: 380px;
  --artBackgroundColor: rgba(204, 204, 204, 0.183);
  --shadowColor: rgb(190 189 189)
}

html {
  width: 100vw;
}

.max-100 {
  max-width: 100%;
  max-height: 100%;
}

.small-caps {
  font-variant: small-caps;
}

a {
  text-decoration: none;
}

.great-vibes {
  font-family: 'Great Vibes', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.whisper {
  font-family: 'Whisper', cursive;
}

.link::after{
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: var(--mainBlue);
  transition: width 0.5s;
  
}

.link:hover::after{
  width: 100%;
  transition: width 0.5s;
}

.change-nav {
  background-color: var(--mainBlue);
  color: black;
  box-shadow: 0px 0px 10px rgb(44, 44, 44);
  transition: all 0.3s ease-in;
}

.change-nav .logo {
  height: 50px;
  width: 100px !important;
}